body {
  font-family: Tajawal, sans-serif;
  background: #05050a;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: rgba(255,255,255,0.05);
  padding: 40px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(10px);
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #7c3aed;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.link {
  display: block;
  margin-top: 12px;
  color: #b0c4ff;
  text-decoration: none;
}
